<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css">
    <link rel="stylesheet" href="/styles/kitchen.css" type="text/css" />
    <script
      src="https://kit.fontawesome.com/93be37909b.js"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <title>Burger Bar || Kitchen</title>
  </head>

  <body>
    <header><%- include('./partials/_navbar'); %></header>

    <main>
      <div class="page-container">
        <section>
          <H1>Online Orders</H1>
          <% for (order of orders) { %>
            <% if (order.status === 'confirmed') { %>
              <article class='<%= order.status %>'>
                <div class="metadata">
                  <p><%= order.created_at %></p>
                  <p><%= order.first_name + ' ' + order.surname %></p>
                  <p><%= order.phone %></p>
                </div>
                <div>
                  <h1><%= order.order_id %></h1>
                  <div>
                    <% for (item of Object.values(order.order_items)) { %>
                      <h4><%= item.menu_item_name %>: x<%= item.quantity %></h4>
                    <% } %>
                    </div>
                </div>
                <% if (order.description) { %>
                  <h5><%= order.description %></h5>
                <% } %>
                  <form action="kitchen/<%= order.order_id %>/ready" method="POST">
                    <button type='submit' class="btn btn-warning btn-block">Ready for pickup</button>
                  </form>
                </article>
              <% } %>
            <% } %>
        </section>
        <section>
          <H1>Ready to be picked up</H1>
          <% for (order of orders) { %>
            <% if (order.status === 'ready') { %>
              <article class='ready'>
                <div class="metadata">
                  <p><%= order.created_at %></p>
                  <p><%= order.first_name + ' ' + order.surname %></p>
                  <p><%= order.phone %></p>
                </div>
                <div>
                  <h1><%= order.order_id %></h1>
                  <div>
                    <% for (item of Object.values(order.order_items)) { %>
                      <h4><%= item.menu_item_name %>: x<%= item.quantity %></h4>
                      <% } %>
                    </div>
                  </div>
                  <% if (order.description) { %>
                    <h5><%= order.description %></h5>
                <% } %>
                <form action="kitchen/<%= order.order_id %>/complete" method="POST">
                  <button type='submit' class='btn btn-primary btn-block'>Completed</button>
                </form>
              </article>
            <% } %>
          <% } %>
        </section>
      </div>
    </main>
    <footer><%- include('./partials/_footer'); %></footer>
  </body>
</html>
