<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script
      src="https://kit.fontawesome.com/93be37909b.js"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <title>Burger Bar || Menu</title>
  </head>

  <body>
    <header><%- include('./partials/_navbar'); %></header>

    <main>
      <section class="menu-container container-fluid">
        <h1>Menu</h1>
        <% for (item of menuItems) { %>
          <div class="menu-item container-fluid media p-3">
            <img
              src=<%= item.thumbnail_url %>
              alt=<%= item.name %>
              style="width: 180px"
            />
            <div class="media-body">
              <h4>
                <%= item.name %> <small><i> - $<%= (item.price / 100).toFixed(2)%></i></small>
              </h4>
              <p class="text-dark">
                <%= item.description %><br />
                <br>
                <strong>Ingredients:</strong> charbroiled patty, cheese, brioche
                bun, onions, pickle, ketchup, mustard, and our house made mayo.
              </p>
            </div>
          </div>
        <% } %>
      </section>
    </main>
    <footer><%- include('./partials/_footer'); %></footer>
  </body>
</html>
