<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/menu-order.css" type="text/css" />
    <script
      src="https://kit.fontawesome.com/93be37909b.js"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <title>Burger Bar || Confirm Order</title>
  </head>

  <body>
    <header><%- include('./partials/_navbar'); %></header>

    <main>
      <section class="menu-container container-fluid">
        <h1>Please Confirm Your Order</h1>
        
      </section>
      
<div class="confirmation-wrapper">
  <h4>Order Details</h4>
      <table class="confirmation-table">
          <thead>
            <tr class="bg-dark text-white">
              <th scope="col">Item
              </th>
              <th scope="col">Quantity
              </th>
              <th scope="col">Unit Price</th>
              <th scope="col">Total Price
              </th>

            </tr>
          </thead>
          <tbody>
            <% for(let item of orderItems) { %>
             
            <tr>
              
              <td>
                <%= item.menu_item %>
              </td>
              <td>
                
                <%= item.quantity %>
              </td>
              <td>
                $<%= (item.unit_price / 100).toFixed(2)%>
              </td>
              <td>
                $<%= (item.unit_price * item.quantity/100).toFixed(2)%>
              </td>
            </tr>
            <% } %>
            <tfoot>
              <tr class="bg-dark text-white">
                <th scope="col">Order Total
                </th>
                <th scope="col">
                </th>
                <th scope="col"></th>
                <th scope="col">$<%=(orderPrice[0].total_price/100).toFixed(2)%>
                </th>
              </tr>
            </tfoot>
          </tbody>   
          <form method="POST" action="/order/<%=orderItems[0].order_id%>/confirmation" >
        </table>
        <div class="wrapper clear">
        
          <div class="form-group">
            <label for="comment">Special Instructions</label>
            <textarea class="form-control" rows="5" id="description" name="description"></textarea>
          </div>
          <div class="wrapper clear">
            <!-- Load custom thankyou page on confirm? -->
          <button type="submit" class="btn">Confirm Order</button>
          <!-- Redirect to Orders Page -->
          <a href="order">Back To Order Form</a>
          
        </div>
      </div>
    </form>
      </div>
       
      </div>
    </main>
    <footer><%- include('./partials/_footer'); %></footer>
  </body>
</html>
