<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/receipt.css" type="text/css" />
   
    
    <script
      src="https://kit.fontawesome.com/93be37909b.js"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <title>Burger Bar || Order Reciept</title>
  </head>

  <body>
    <header><%- include('./partials/_navbar'); %></header>

    <main>
      <section class="menu-container container-fluid">
        <h1>Thanks <%=orderInfo[0].first_name%>! </h1>
       
        
      </section>
      
<div class="confirmation-wrapper receipt-box">
  <h4>Order Reciept</h4>
</br>
  <p>Order ID: #<%=orderInfo[0].order_id%></p>
  <p>Number of Items: <%=numOfItems%></p>
  <p>Total Price: $<%=(orderPrice[0].total_price/100).toFixed(2)%></p>
</br>
<p>You will receive order updates via text message at ph: <%=orderInfo[0].phone%></p>


      
          <div class="wrapper clear">
            <!-- Load custom thankyou page on confirm? -->
          <!-- <button type="submit" class="btn">Logout</button> -->
          <!-- Redirect to Orders Page -->
          <a class="btn" href="/logout">logout</a>
          
        </div>
      </div>
    </main>
    <footer><%- include('./partials/_footer'); %></footer>
  </body>
</html>